@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(212, 45%, 89%);
  --grayblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--lightgrey);
  font-family: "Outfit", serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 5%;
}

.card-container {
  background-color: var(--white);
  width: 320px;
  height: 495px;
  border-radius: 15px;
  grid-column: 3/4;
  display: flex;
  top: -100%;
  transform: translateY(100px);
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 50px rgba(129, 129, 129, 0.17);
}

.card-container img {
  width: 285px;
  height: 285px;
  margin-top: 16px;
  border-radius: 10px;
}

.heading h1 {
  font-size: 1.4rem;
  color: var(--darkblue);
  margin: 25px 25px 0;
  text-align: center;
}

.paragraph p {
  color: var(--grayblue);
  font-size: 1rem;
  padding-top: 1.25rem;
  margin: 0px 25px;
  text-align: center;
}

/* i finished the whole thing myself :') */

@media (max-width: 375px) {
  .card-container {
    transform: translateY(50px);
    grid-column: 2/3;
    margin-left: 10px;
  }

  body {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
  }
}
